@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --background: #f3f3f3;
  --foreground: #1c1c1c;
  font-size: 11px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nanum-barun-gothic: "NanumBarunGothic";
  --font-korail-condensed: "korail_Condensed";
  --color-hr: #d7c9c5;
  --text-base: 1rem;
  --text-sm: 0.8182rem;
  --text-md: 1.2727rem;
  --text-lg: 1.455rem;
  --text-xl: 3rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanum-barun-gothic), sans-serif;
}

/* Swiper 오버플로우 방지 */
.swiper {
  width: 100% !important;
  max-width: 100% !important;
}

.swiper-slide {
  width: 100% !important;
  max-width: 100% !important;
}

.swiper-wrapper {
  max-width: 100% !important;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}
